/* frontend/src/components/SystemSolver.css */
.system-solver-container {
    margin: 20px;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-row input {
    align-items: center;
    width: 60px; /* Adjust width as needed */
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

button {
    margin-top: 10px;
}